.idea
*/node_modules/
*/package-lock.json
*.db
*/.env
*/*/.env
.vscode
*/.dist
backend/.env
*/bin
*/dist
*/build
*/obj
/appsettings.json
backend-csharp/appsettings.json
frontend/vite.config.js
backend-csharp/.github/copilot-instructions.md
backend/.env
